*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 58%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    @media only screen and (max-width: 62.5em) {
        font-size: 51.25%;
    }

    @media only screen and (max-width: 56.25em) {
        font-size: 49%;
    }

    @media only screen and (max-width: 37.5em) {
        font-size: 46%;
    }

    @media only screen and (max-width: 140.5em) {
        font-size: 75%;
    }
}

body {
    font-family: $font-primary, sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    background: linear-gradient(160deg, #ffb7b7 9%, #727272),
        radial-gradient(100% 199% at 30% 10%, #ffd1d1 0, #260000 100%),
        linear-gradient(180deg, #0ff, #fff),
        radial-gradient(100% 100% at 70% 0, red 0, #00ffe0 100%),
        linear-gradient(280deg, #dbff00, #30f);
    background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}
