.navigation-wrapper {
    position: relative;
    z-index: 9999;

    .menu-top {
        position: fixed;
        top: 5rem;
        right: 0;
        left: 0;
        padding: 2rem 4rem;
        @include centerContent;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 1px solid transparent;
        background: linear-gradient(to right, #fff, #fff), var(--gradient-primary-1-b);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        border-radius: 2rem;

        @media only screen and (max-width: 40rem) {
            width: 75%;
            padding: 2rem;
        }

        .brand-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                &:nth-child(2) {
                    margin-left: 2rem;
                }
            }
        }
    }
}

.brand-logo {
    &__text-wrapper {
        overflow: hidden;
        margin-left: 1rem;
    }

    &__text {
        animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) infinite;
    }
}
